<div class="saidai">
    <div class="hidarihanbun">
        <% if @user.image.attached? %>
            <%= image_tag  @user.image,style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
        <% else %> 
            <i class="fa-solid fa-user fa-8x" style="color: rgb(150, 149, 149);"></i>
        <% end %>
    <br><br><br><br>
        <span class="linku">
            <span class="hyouzityuu"><%= link_to "あなたの投稿", user_path(current_user.id) %></span>
            <br><br><br>
            <span class="hihyouzi"><%= link_to "いいねした投稿", users_iine_path(id: @user.id) %></span>
        </span>
    </div>
    <div class="migihanbun">
        <div class="prohu">
            <span class="user-name"><%= @user.name %></span>
            <div class="deka_table">
                <div class="follow_table">
                        <p><%= link_to @user.followings.count, user_followings_path(@user) %></p>
                        <f>フォロー</f>
                </div>
                <div class="follower_table">
                        <p><%= link_to @user.followers.count, user_followers_path(@user) %></p>
                        <f>フォロワー</f>
                </div>
            </div>
            <div class="kesi-button"><button id="qr-button"><i class="fa-solid fa-qrcode fa-3x"></i></button></div>
            <div id="qr-modal" class="hidden">
                <%= raw RQRCode::QRCode.new(request.original_url).as_svg(module_size: 4) %>
            </div>
            <% if current_user != @user %>
                <td><%= render "relationships/btn", user: @user, options: { class: ""} %></td>
                <% if @isRoom == true %>
                    <%= link_to 'DMへ', room_path(@roomId) %>
                <% else %>
                    <%= form_for @room do |f| %>
                        <%= fields_for @entry do |e|%>
                            <% e.hidden_field :user_id, value: @user.id %>
                        <% end %>
                        <%= f.submit "DMを開始する"%>
                    <% end %>
                <% end %>
            <% else %>
                <%= link_to edit_user_registration_path(@user.id), method: :get do %>
                    <i class="fa-solid fa-user-gear fa-2x"></i>
                <% end %>
                <%= link_to users_dmitiran_path(id: @user.id), method: :get do %>
                    <i class="fa-solid fa-paper-plane fa-2x"></i>
                <% end %>
            <% end %>
            <% if current_user.id == @user.id %>
                <div class="kesi-button">
                    <%= button_to destroy_user_session_path, method: :delete do %>
                            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
                    <% end %>
                </div>
            <% end %>
        </div>
        </div>
        <div class="setumei">
            <%= @user.profile %>
        </div>
        <br>
        <div class="shizen-container">
            <% @user.shizens.each do |t| %>
                    <div class="shizen">
                        <div class="shizen-content">
                            <div class="shizen-text">
                                <%= link_to smart_truncate(t.spot_name, 6), shizen_path(t.id) ,class: "spot-name" %>
                                    <div class=" oya-hourly-weather">
                                        <div class="hourly-weather">
                                            <% if t.hourly_weather_type.present? %>
                                                <% if t.hourly_weather_at.present? %>
                                                    <%= t.hourly_weather_at.in_time_zone.strftime("%H:00") %>~<%= (t.hourly_weather_at + 1.hour).in_time_zone.strftime("%H:00") %>の天気
                                                <% end %>
                                                <%= image_tag weather_image_name(t.hourly_weather_type), size: "40x40", alt: weather_label(t.hourly_weather_type) %>
                                            <% else %>
                                                1時間ごとの天気情報を取得できませんでした
                                            <% end %>
                                        </div>
                                    </div>
                                <span class="like-count">
                                    <% if user_signed_in? %>
                                        <% if current_user.already_liked?(t) %>
                                            <%= link_to shizen_like_path(id: t.id, shizen_id: t.id), method: :delete do %>
                                                <i class="fas fa-heart"></i><%= t.likes.count %>    
                                            <% end %>
                                        <% else %>
                                            <%= link_to shizen_likes_path(id: t.id, shizen_id: t.id), method: :post do %>
                                                <i class="fa-regular fa-heart"></i><%= t.likes.count %>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <i class="fa-regular fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                </span>
                                <span class="map-link">
                                    <% if t.maplink? %>
                                        <%= link_to t.maplink do %>
                                            <i class="fa-solid fa-location-dot fa-2xl"></i>
                                        <% end %>
                                    <% else %>
                                        <i class="fa-solid fa-location-dot fa-2xl" style="color: rgb(150, 149, 149);"></i>
                                    <% end %>
                                    <% if t.ken.present? %>
                                        <%= link_to t.ken, shizen_matome_path(t.id), class: "ken-tag" %>
                                    <% else %>
                                        <span class= "ken-tag"> 未登録 </span>
                                    <% end %>
                                </span>
                                <br>
                                <div class="user-info">
                                    <%= link_to user_path(t.user.id) do %>
                                        <% if t.user.image.attached? %>
                                            <%= image_tag t.user.image,style: "border-radius: 50%; width: 32px; height: 32px; object-fit:cover;" %>
                                        <% else %>
                                            <br>
                                            <i class="fa-solid fa-user fa-2xl" style="color: rgb(150, 149, 149);"></i>
                                        <% end %>
                                        <%= t.user.name %>
                                    <% end %>
                                    <br>
                                    <%= smart_truncate(t.setumei, 17) %>
                                </div>
                            </div>
                                <%= link_to shizen_path(t.id) do %> 
                                    <% if t.tategazou.attached? %>
                                        <div class="shizen-image"><%= image_tag t.tategazou,style: "border-radius: 20px; width: 360px; height: 240px; object-fit:cover;" %></div> 
                                    <% elsif t.yokogazou.attached? %>
                                        <div class="shizen-image"><%= image_tag t.yokogazou,style: "border-radius: 20px; width: 360px; height: 240px; object-fit:cover;" %></div>
                                    <% elsif t.tategazou2.attached? %>
                                        <div class="shizen-image"><%= image_tag t.tategazou2,style: "border-radius: 20px; width: 360px; height: 240px; object-fit:cover;" %></div>
                                    <% elsif t.yokogazou2.attached? %>
                                        <div class="shizen-image"><%= image_tag t.yokogazou2,style: "border-radius: 20px; width: 360px; height: 240px; object-fit:cover;" %></div>
                                    <% else %>
                                        <div class="shizen-image"><%= image_tag "no_image.png",style: "border-radius: 20px; width: 360px; height: 240px; object-fit:cover;" %></div>
                                    <% end %>
                                <% end %>
                        </div>
                    </div>
            <% end %>
        </div>
    </div>
</div>