<div class="edit_container">
    <div class="edit">
    <h3>編集ページ</h3>
        <%= form_for @shizen do |f| %>
            <%= f.label :場所名 %>
            <%= f.text_field :spot_name, :size => 10 %> 
            <br>
            <%= f.label :都道府県 %>
            <%= f.text_field :ken, :size => 4 %> 
            <br>
            <%= f.label :グーグルマップのリンク %>
            <%= f.text_field :maplink, :size => 25 %>
            <br>
            <%= f.label :説明文 %>
            <%= f.text_field :setumei, :size => 100, class: 'editer'%> 
            <br>
            <%= f.label :画像複数 %>
            <%= f.file_field :images, multiple: true, :size => 140 %> 
            <br>
            <%= f.submit "編集する" %>
        <% end %>
        <% if user_signed_in? && current_user.id == @shizen.user_id %>
                <%= button_to "削除", shizen_path(@shizen.id), method: :delete %>
        <% end %>
    <%= link_to "詳細に戻る", shizen_path(@shizen.id) %>
    </div>
</div>